<!DOCTYPE html>
<html lang="en">

<head>
    <base target="_top">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>

<body>
<style>
    footer {
        text-align: center;
        background-color: #435669;
        color: #eee;
        padding: 20px 0px 20px 0px;
        font-size: 14px;
    }

    a {
        color: #C0C0C3;
    }
</style>

<footer>
    <p>
        <a href="/index.html">首页</a>
        <a href="/page/our_team.html">关于我们</a>
    </p>
    <p>
        地址: xxx 邮箱: xxx 电话: 010- 88888888 手机: 13912345678<br/>
        Copyright @ 2019-2020. 校园垃圾分类管理系统
    </p>
</footer>
</body>

</html>