<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.project.mapper.ArticleMapper">

    <!--    获取分页数据-->
    <select id="getArticleByPage" resultType="com.yongoe.ecy.project.entity.Article">
        select *
        from t_article
        <where>
            <if test="null != article.id">
                and id = #{article.id}
            </if>
            <if test="null != article.title and ''!=article.title">
                and title LIKE CONCAT('%',#{article.title  },'%')
            </if>
            <if test="null != article.content and ''!=article.content">
                and content LIKE CONCAT('%',#{article.content  },'%')
            </if>
            <if test="null != article.status and ''!=article.status">
                and status LIKE CONCAT('%',#{article.status  },'%')
            </if>
            <if test="null != article.score">
                and score = #{article.score}
            </if>
            <if test="null != article.createTime">
                and create_time = #{article.createTime}
            </if>
            <if test="null != article.updateTime">
                and update_time = #{article.updateTime}
            </if>
            <if test="null != article.createBy and ''!=article.createBy">
                and create_by LIKE CONCAT('%',#{article.createBy  },'%')
            </if>
            <if test="null != article.updateBy and ''!=article.updateBy">
                and update_by LIKE CONCAT('%',#{article.updateBy  },'%')
            </if>
        </where>
        order by id desc
    </select>

</mapper>