<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.project.mapper.MessageMapper">

    <!--    获取分页数据-->
    <select id="getMessageByPage" resultType="com.yongoe.ecy.project.entity.Message">
        select a.*,b.avatar
        from  t_message a
        left join sys_user b on a.create_by = b.name
        <where>
            <if test="null != message.id">
                and a.id = #{message.id}
            </if>
            <if test="null != message.parentId">
                and a.parent_id = #{message.parentId}
            </if>
            <if test="null != message.content and ''!=message.content">
                and a.content LIKE CONCAT('%',#{message.content  },'%')
            </if>
            <if test="null != message.status and ''!=message.status">
                and a.status LIKE CONCAT('%',#{message.status  },'%')
            </if>
            <if test="null != message.createTime">
                and a.create_time = #{message.createTime}
            </if>
            <if test="null != message.updateTime">
                and a.update_time = #{message.updateTime}
            </if>
            <if test="null != message.createBy and ''!=message.createBy">
                and a.create_by LIKE CONCAT('%',#{message.createBy  },'%')
            </if>
            <if test="null != message.updateBy and ''!=message.updateBy">
                and a.update_by LIKE CONCAT('%',#{message.updateBy  },'%')
            </if>
        </where>
        order by id desc
    </select>

</mapper>